.enlarge1 {
  transition: 2.3s ease-in-out;
  -gtk-icon-size: 110px;
}

.enlarge2 {
  transition: 2.6s ease-in-out;
  -gtk-icon-size: 220px;
}

.enlarge3 {
  transition: 2.9s ease-in-out;
  -gtk-icon-size: 330px;
}

.smallify {
  transition: 6s ease-in-out;
  -gtk-icon-size: 48px;
}
