headerbar.flat {
  background-image: none;
  border: none;
  background-color: transparent;
}

.main-button {
  min-width: 48px;
  min-height: 48px;
  transition: 200ms ease-in-out;
  font-weight: bold;
}

overlay {
  min-width: 340px;
  min-height: 350px;
}

overlay > image {
  color: @theme_selected_bg_color;
}

.playing {
  color: @theme_fg_color;
}

.enlarge1 {
  transition: 2.3s ease-in-out;
  -gtk-icon-size: 110px;
}

.enlarge2 {
  transition: 2.6s ease-in-out;
  -gtk-icon-size: 220px;
}

.enlarge3 {
  transition: 2.9s ease-in-out;
  -gtk-icon-size: 340px;
}

.smallify {
  transition: 6s ease-in-out;
  -gtk-icon-size: 48px;
}
